*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(130, 177, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.m-container{
    background-color:  rgb(46, 46, 96);
    padding: 20px;
    border-radius: 8px;
    width: 22%;
    height: 81%;
   
    }
    .i-container{
        width: 100%;
    }

#display{
    width: 100%;
    padding-top: 100px;
    overflow-x: auto;
    outline: none;
    background-color: rgb(93, 124, 177);
    font-size: 2.7rem;
    margin-bottom: 30px;
    border: none;
    text-align: right;
    color: rgb(46, 46, 96);
    font-weight: 600;
}
.row{
    margin-left: 16px;
}

#enter{
    padding: 18px 67px;
}
.row input{
    padding: 18px 24.5px;
    margin: 5px;
    border-radius: 6px;
    outline: none;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(46, 46, 96);
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);  
    width: 62px ;
    height:62px;
}
.row input:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
  }
.container{
    background-color: rgb(93, 124, 177);;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
